<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Carrinho</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            
        <th:block th:insert="~{fragments/baseUtils.html :: links}"></th:block>
        
        <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    </head>
    <body>
        <header><th:block th:insert="~{fragments/baseUtils.html :: navbar}"></th:block></header>
        
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 my-2 me-2 prodList-bg">
                        <div th:each="produto : ${lstCart}" class="row my-2 mx-1 product-bg">
                            <div class="col-md-2" style="border-right: 4px solid white;">
                                <img th:if="${produto.base64Image != null}" th:src="'data:image/jpeg;base64,' + ${produto.base64Image}" class="my-1 product-img"/>
                                <img th:unless="${produto.base64Image != null}" th:src="@{/images/defaultImg.jpg}" class="my-1 product-img product-img"/>
                            </div>
                            <div class="col-md-8 p-1">
                                <a th:href="@{/product/detalhes/{id} (id=${produto.id})}" class="prod-title"><h6 th:text="${produto.title}"></h6></a>
                                <p>R$<span th:text="${produto.price}"></span></p>
                            </div>
                            <div class="col-md-2 text-end">
                                <a th:href="@{/product/removeFromCart/{id} (id=${produto.id})}" onclick="removeFromCart(this)" class="prod-remove"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row my-2 customForm-bg">
                            <h4 class="mt-2">R$<span id="totalValue" th:text="${totalValue}"></span></h4>
                            <form id="formFinalizar" th:action="@{/compra-finalizada}" class="mt-3">
                                <select id="selPayMethod" name="selPayMethod" class="form-select">
                                    <option value="1">Forma pag 1</option>
                                    <option value="2">Forma pag 2</option>
                                </select>
                                <br/>
                                <div class="text-end mb-2">
                                    <input type="submit" value="Finalizar Compra" class="btn btn-card"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer></footer>
        
        <script>
            $(document).ready(function(){
                $('#formFinalizar').submit(function(event){
                    var totalValue = parseFloat($('#totalValue').text());
                    
                    if(totalValue <= 0.0){
                        event.preventDefault();
                    }
                });
            });
            
            function removeFromCart(prodToRemove){
                event.preventDefault();

                var url = $(prodToRemove).attr('href');
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function(){
                        window.location.href = '/carrinho';
                    }
                });
            }
        </script>
    </body>
</html>
