<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detalhes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <th:block th:insert="~{fragments/baseUtils.html :: links}"></th:block>
    </head>
    <body>
        <header>
            <th:block th:insert="~{fragments/baseUtils.html :: navbar}"></th:block>
        </header>
        
        <main>
            <div class="container">
                <!--Infos do produto-->
                <div class="row mt-2">
                    <div class="col-lg-6 my-2">
                        <img th:if="${produto.base64Image != null}" th:src="'data:image/jpeg;base64,' + ${produto.base64Image}" style="width: 400px">
                        <img th:unless="${produto.base64Image != null}" th:src="@{/images/defaultImg.jpg}" style="width: 400px">
                    </div>
                    <div class="col-lg-6">
                        <h1 th:text="${produto.title}"></h1>
                        <h3>R$ <span th:text="${produto.price}"></span></h3>
                        <!--<a class="btn btn-secondary" href="#">Comprar</a>-->
                    </div>
                    <hr>
                    <div class="col-lg-6">
                        
                        <h5>Descrição</h5>
                        <p th:text="${produto.description}"></p>
                    </div>
                </div>
                <!--Avaliações-->
                <div class="row" style="border-top: 2px solid RGB(51, 51, 70);">
                    <h4 class="mt-2">Avaliações (<span th:text="${countReviews}"></span>)</h4>
                    <th:block th:if="${lstAvaliacoes != null}">
                        <div class="row justify-content-center">
                            <div class="row">
                                <div th:each="avaliacao, index : ${lstAvaliacoes}" th:if="${index.index &lt; 3}" class="col-lg me-1 mt-1 p-2" style="background-color: RGB(154, 146, 113);">
                                    <h6>Nota: <span th:text="${avaliacao.rating}"></span></h6>
                                    <p th:text="${avaliacao.review}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="row">
                                <div th:each="avaliacao, index : ${lstAvaliacoes}" th:if="${index.index &gt;= 3 &amp;&amp; index.index &lt; 6}" class="col-lg me-1 mt-1 p-2" style="background-color: RGB(154, 146, 113);">
                                    <h6>Nota: <span th:text="${avaliacao.rating}"></span></h6>
                                    <p th:text="${avaliacao.review}"></p>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${lstAvaliacoes} != null">
                        <p>Não há avaliações do produto.</p>
                    </th:block>
                </div>
            </div>
            
            <!--Form de avaliações-->
            <div class="container-fluid mt-5">
                <div class="row" style="border-top: 4px solid RGB(51, 51, 70);">
                    <h3 class="mt-2">Deixe uma avaliação</h3>
                    <form th:action="@{/reviews/registerAnalise}" th:object="${analise}" method="POST" class="p-2">
                        <input type="hidden" th:field="${produto.id}">
                        <p>
                            <label for="rating">Nota: <span id="valNota"></span></label>
                            <br>
                            <input type="range" id="rngRating" min="0" max="5" step="1" value="0" th:field="*{rating}">
                        </p>
                        <p>
                            <label for="review">Comentário:</label>
                            <br>
                            <input type="text" id="txtReview" th:field="*{review}">
                        </p>
                        <input type="submit" value="Enviar" class="btn btn-card">
                    </form>
                </div>
            </div>
        </main>
        
        <footer class="footer">
            
        </footer>
        
        <script>
            $(document).ready(function(){
                $('#rngRating').val(0);
                $('#valNota').text($('#rngRating').val());
        
                $('#rngRating').on('input', function(){
                    $('#valNota').text($(this).val());
                });
            });
        </script>
    </body>
</html>
