<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <th:block th:insert="~{/fragments/defaultUtils.html :: links}"></th:block>
    </head>
    <body>
        <header>
            <th:block th:insert="~{/fragments/defaultUtils.html :: navbar}"></th:block>
        </header>
        
        <main class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 108px);">
            <div class="container" style="margin-left: auto; margin-right: auto;">
                <form th:if="${isToSignup}" th:action="@{/signupUser}" method="POST" class="center-form">
                    <h2>Cadastro</h2>
                    <p>
                        <label for="txtEmail">Email:</label>
                        <br>
                        <input type="email" name="email" id="txtEmail">
                    </p>
                    <p>
                        <label for="txtPassword">Senha:</label>
                        <br>
                        <input type="password" name="password" id="txtPassword">
                    </p>
                    <input type="submit" value="Enviar" class="btn btn-card">
                </form>
                
                <form th:if="${isToSignup == false}" th:action="@{/loginUser}" method="POST" class="center-form">
                    <h2>Login</h2>
                    <p>
                        <label for="txtEmail">Email:</label>
                        <br>
                        <input type="email" name="email" id="txtEmail">
                    </p>
                    <p>
                        <label for="txtPassword">Senha:</label>
                        <br>
                        <input type="password" name="password" id="txtPassword">
                    </p>
                    <input type="submit" value="Enviar" class="btn btn-card">
                </form>
            </div>
        </main>
        
        <footer>
            
        </footer>
    </body>
</html>
