<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <th:block th:insert="~{/fragments/defaultUtils.html :: links}"></th:block>
    </head>
    <body>
        <header>
            <th:block th:insert="~{/fragments/defaultUtils.html :: navbar}"></th:block>
        </header>
        
        <main class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 108px);">
            <div class="container" style="margin-left: auto; margin-right: auto;">
                <form th:action="@{/registerProduct}" method="POST" class="center-form">
                    <h2>Cadastro de produto</h2>
                    <p>
                        <label for="txtImage">Imagem do produto:</label>
                        <br>
                        <input value="Imagem do produto" type="file" name="image" id="txtImage" accept="image/*">
                    </p>
                    <p>
                        <label for="txtTitle">Título:</label>
                        <br>
                        <input type="text" name="title" id="txtTitle">
                    </p>
                    <p>
                        <label for="txtDescription">Descrição:</label>
                        <br>
                        <input type="text" name="description" id="txtDescription">
                    </p>
                    <p>
                        <label for="txtPrice">Preço:</label>
                        <br>
                        <input type="number" name="price" id="txtPrice">
                    </p>
                    <input type="submit" value="Enviar" class="btn btn-card">
                </form>
            </div>
        </main>
        
        <footer>
            
        </footer>
    </body>
</html>
